@using ChuntianCms.Models;
@model SiteNews

@{
   
}
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
       
        <div style="margin: 10px 10px 10px 10px;line-height:30px;">
            <h1>@Model.Title</h1>
            @Html.Raw(Model.Context)
        </div>
       
        <p style="height:30px;"></p>

    </div>
</div>

